.customer-title[data-v-a8257d2a]:hover{color:rgba(var(--v-theme-primary))!important}.product-widget[data-v-a8257d2a]{border-block-end:1px solid rgba(var(--v-theme-on-surface),var(--v-border-opacity));padding-block-end:1rem}
